@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.footerCoryright{
    z-index: 12000;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px 15px 30px;
    border-top: 2px solid rgb(233, 81, 81);
    background-color: $main-purple;
    color: $white;

    @include maxW_550{
        display: none;

    }
}