@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.footerCoryright {
  z-index: 1200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 10px 30px 10px 50px;
  border-top: 2px solid gray;
  background-color: $main-purple;
  color: $white;
  @include maxW_720 {
    padding: 11px 10px;
  }
  @include maxW_550 {
    display: none;
  }
}
