@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/fonts';

.listItem {
  display: flex;
  padding: 15px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: unset;
  color: $text-color;
  transition: color, background-color 0.3s ease;


  &:hover {
    color: $white;
    background-color: $gray ;
    border-right: 4px solid $vine-red;
  }

  &__selectedItem {
    background-color: $gray ;
    color: $white ;
    border-right: 4px solid $vine-red ;
  }
}
