@import '../../../assets/scss/mixins';

.sidebar {
  &__head {
    display: none;

    @include maxW_1280 {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  &__logo {
    width: 100px;
    height: 100px;
  }
}
