@import '../../../assets/scss/mixins';

.pageWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @include maxW_480{
    padding: 20px 0;
  }

  &__title {
      margin: 20px 0 25px;
      color: #4c555c;
      font-size: 36px;
      font-weight: 600;
      word-wrap: break-word;
      @include maxW_480{
        font-size: 22px;
      }
  }
}
