@import './assets/scss/mixins';

html{
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f8f9;

  &__body {
    display: flex;
    width: 100%;
    flex: 1;
  }

  &__content {
    width: 100%;
    padding: 0 25px;
    @include maxW_480 {
      padding: 0 15px;
    }
  }
}
