@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.homePage {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
    font-size: 38px;
    font-weight: 300;
    color: $gray;

    @include maxW_1080 {
      font-size: 30px;
    }
    @include maxW_864 {
      font-size: 25px;
    }
    @include maxW_748 {
      font-size: 20px;
    }

    @include maxW_480 {
      margin-bottom: 40px;
    }
  }
}
.aboutCompany {
  display: flex;
  flex-direction: column;

  margin-top: 75px;
  &__listItem {
    position: relative;
    list-style-type: none;
    color: $text-color;
    margin-bottom: 5px;
    color: $text-color;
  }
}
.linkSpan {
  position: relative;
  cursor: pointer;
  color: $text-color;
  font-weight: 350;
  transition: all 0.3s ease;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $text-color;
  }
  &:hover {
    color: $main-purple;
    &::after {
      background-color: $main-purple;
    }
  }
}
.strongSpan {
  color: $text-color;
  font-weight: 600;
  font-size: 18px;
}

.ourBenefitsWrapper {
  display: flex;
  flex-direction: column;

  &__heading {
    font-size: 40px;
    margin-bottom: 40px;

    @include maxW_480 {
      margin-bottom: 0;
      font-size: 35px;
    }
  }
}
